<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gek.studentslist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Доступ к контактной книге на телефоне -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Камера нужна в программе но не критично, т.е. установить app можно будет
    В коде программы наличие камеры можно проверить с помощью
    hasSystemFeature(PackageManager.FEATURE_CAMERA)
    и только после этого включать возможности работы с ней -->
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity
            android:name=".activity.PersonActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- Указанаие категории BROWSABLE включит активити в список апп обрабатывающие
                 ссылки в браузера, почте и т.д.  -->
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Указываем какие именно ссылки (протоколы) мы будем открывать -->
                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <!-- Ограничиваем ссылки еще и по хостам -->
                <data android:host="github.com"/>
                <data android:host="plus.google.com"/>

                <!-- Расширяем маской адреса. Теперь откроются все начиная с того, что указанно
                 выше. Правя часть может быть произвольной -->
                <data android:pathPattern="/.*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ReceiversActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".activity.ContactsLoadersActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ContactsActivity"
            android:screenOrientation="portrait">
        </activity>


        <receiver
            android:name=".receivers.WiFiReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>